@Html.Partial("_header")

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-purple sidebar-mini fixed">

    <section class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                @*<span class="logo-mini">D</span>*@
                <!-- logo for regular state and mobile devices -->
                @*<span class="logo-lg"><b>Danube</b> Co. Ltd. </span>*@

                <img src="~/Content/img/mainlogo.png" style="margin-left: -10px" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control input-sm" id="navbar-search-input" style="color: #000; width: 350px" placeholder="Search">
                    </div>
                </form>

                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <li>
                            <a href="javascript:void(0);" class="l" ng-click="Switch();"><i class="fa fa-exchange"></i><span class="label label-danger">!</span></a>
                        </li>
                        <li style="padding: 5px; padding-top: 15px !important; color: #85849c">
                            <span> | </span>
                        </li>
                        <li>
                            <a href="/a/password" class="p"><i class="fa fa-key"></i><span class="label label-danger">!</span></a>
                        </li>
                        <li>
                            <a href="" ng-click="Logout()" target="_self" class="s"><i class="fa fa-sign-out"></i></a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>

                    </ul>
                </div>
            </nav>
        </header>

        @Html.Partial("_sidebar")

        <section class="content-wrapper">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <section class="content">
                <div class="box box-solid" ng-show="iform.isViewLoading">
                    <div class="box-body padding">
                        <!-- left column -->
                        <div class="col-md-6">
                            <h4>
                                @*<img src="~/Content/img/294.gif" style="height: 32px; width: 32px;" />*@
                                <span class="heartX pull-left"></span>
                                <span class="heartXX pull-left"></span>
                                <span style="margin-left: -5px; margin-top: 3px; font-size: 12px">Please wait...</span>
                            </h4>
                        </div>
                    </div>
                </div>
                <div ng-view ng-hide="iform.isViewLoading"></div>
            </section>
        </section>

        @Html.Partial("_controlbar")

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 4.0
            </div>
            <strong>Copyright &copy; 2016 - 2017 <a href="http://DanubeCo.com">Danube Co. Ltd.</a> All rights reserved.</strong>
        </footer>

    </section><!-- ./wrapper -->

    @Html.Partial("_footer")

    <script src="~/Scripts/Modularize/System/iQtip.js"></script>

    <script>

        $(document).ready(function () {

            iQtip.init('l', 'Switch to other region');

            iQtip.init('p', 'Change Password');

            iQtip.init('s', 'Log-out account.');

        });

    </script>


</body>
</html>







@*@if (ViewBag.Role == "2") // Adminstrator
    {
        <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <span class="hidden-xs">New Agent</span>
            </a>
            <ul class="dropdown-menu" style="height: 160px;">
                <li class="header">New Agent Account</li>
                <li>
                    <!-- inner menu: contains the messages -->
                    <ul class="menu">
                        <li>
                            <!-- start message -->
                            <a href="/ag/new">
                                <div class="pull-left">
                                    <!-- User Image -->
                                    <i class="fa fa-user"></i>
                                </div>
                                <!-- Message title and timestamp -->
                                <h4>
                                    New Agent
                                    <small class="pull-right"><i class="fa fa-user"></i></small>
                                </h4>
                                <!-- The message -->
                                <p>Password Modification</p>
                            </a>
                        </li>
                        <li>
                            <!-- start message -->
                            <a href="/ag/agentlist">
                                <div class="pull-left">
                                    <!-- User Image -->
                                    <i class="fa fa-list"></i>
                                </div>
                                <!-- Message title and timestamp -->
                                <h4>
                                    Agent List
                                    <small class="pull-right"><i class="fa fa-list"></i></small>
                                </h4>
                                <!-- The message -->
                                <p>List of Agent</p>
                            </a>
                        </li>
                    </ul>
                    <!-- /.menu -->
                </li>
            </ul>

        </li>
    }*@