


<section class="content">

    <div class="row">
        <div class="col-md-5">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Content/img/user.png" alt="User profile picture">

                    <h6 class="text-center"><b></b></h6>

                    <p class="text-muted text-center">Supplier</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Supplier No.</b>
                            <a class="pull-right"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Region</b>
                            <a class="pull-right"></a>
                        </li>
                        <li class="list-group-item">
                            <b>Mobile</b>
                            <a class="pull-right"></a>
                        </li>
                    </ul>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">

                    <h6 class="text-center"><b>Overall SMP Processes</b></h6>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Purchasing Order</b>
                            <a class="pull-right">@ViewBag.PO</a>
                        </li>
                        <li class="list-group-item">
                            <b>Ranking Request</b>
                            <a class="pull-right">@ViewBag.Rank</a>
                        </li>

                    </ul>

                </div>

            </div>


        </div>

        <div class="col-md-7">
            <div class="nav-tabs-custom">

                <div class="box-body padding">

                    <ul class="timeline timeline-inverse">

                        <li class="time-label">
                            <span class="bg-purple">
                                June 11, 2017
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 6:00 AM</span>

                                <h3 class="timeline-header">
                                    <a href="">Server Migration : </a> SMP successfully migrated to a new Server.
                                </h3>

                            </div>
                        </li>
                        <li class="time-label">
                            <span class="bg-purple">
                                Nov 23, 2016
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 6:00 AM</span>

                                <h3 class="timeline-header">
                                    <a href="">Payment Request : </a> will check the status of invoices if already paid or not.
                                </h3>

                            </div>
                        </li>
                        <li class="time-label">
                            <span class="bg-purple">
                                June 1, 2016
                            </span>
                        </li>
                        <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 8:35 AM</span>

                                <h3 class="timeline-header">
                                    <a href="">RTV PDF : </a> to all suppliers in different region
                                </h3>

                            </div>
                        </li>

                        <li class="time-label">
                            <span class="bg-purple">
                                30 April. 2016
                            </span>
                        </li>

                        <li>
                            <i class="fa fa-envelope bg-blue"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 9:05 AM</span>

                                <h3 class="timeline-header">
                                    <a href="">Announcement : </a> to all suppliers in different region
                                </h3>

                                <div class="timeline-body">
                                    Please be informed that your official email address will be required by our Application for Backup and Security purposes.
                                </div>
                            </div>
                        </li>


                        <li class="time-label">
                            <span class="bg-purple">
                                28 April. 2016
                            </span>
                        </li>

                        <li>
                            <i class="fa fa-user bg-aqua"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 10:00 AM </span>

                                <h3 class="timeline-header no-border">
                                    <a href="#">Account</a> has been activated in application and database.
                                </h3>
                            </div>
                        </li>

                        <li class="time-label">
                            <span class="bg-purple">
                                27 April. 2016
                            </span>
                        </li>

                        <li>
                            <i class="fa fa-download bg-yellow"></i>

                            <div class="timeline-item">
                                <span class="time"><i class="fa fa-clock-o"></i> 8:00 AM</span>

                                <h3 class="timeline-header">
                                    <a href="#">System Update </a> re-configure all accounts and regions
                                </h3>

                                <div class="timeline-body">
                                    Account has been connected to a new Server and Database.
                                </div>
                            </div>
                        </li>


                        <li>
                            <i class="fa fa-clock-o bg-gray"></i>
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </div>


</section>
