

<div class="row">
    <div class="box box-solid">
        <hr />
    </div>
</div>

<div class="box box-solid">
    <div class="box-body padding">
        <!-- left column -->
        <div class="col-md-6">
            <h3>RESET PASSWORD</h3>
            <p>Password Modification</p>
        </div>
    </div>
</div>

<div class="row" ng-controller="ResetController">
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-solid">

            <div class="box-body padding">
                <!-- left column -->
                <form role="form" ng-submit="submitNewPassword()">

                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="box box-solid">
                        
                            <!-- form start -->
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Current Password : </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <input class="form-control" type="password" ng-model="resetForm.cpassword">
                                    </div><!-- /.input group -->
                                </div><!-- /.form-group -->

                                <div class="form-group">
                                    <label>New Password : </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input class="form-control" type="password" ng-model="resetForm.npassword">
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->

                                <div class="form-group">
                                    <label>Re-Type Password : </label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-envelope"></i>
                                        </div>
                                        <input class="form-control" type="password" ng-model="resetForm.rpassword">
                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->

                            </div><!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-default">Submit</button>

                                <span ng-show="resetForm.isLoading">
                                    <img src="~/Content/img/294.gif" style="height: 16px; width: 16px; margin-left: 5px" />
                                    <span style="margin-left: 5px">Please wait.. </span>
                                </span>
                            </div>
                        </div><!-- /.box -->
                    </div>

                </form>
            </div><!-- /.box-body -->
        </div>
    </div>
</div>

