

<div style="padding-left: 0px; padding-right: 0px; padding-top: 0px; background-color: #fff;">

    <style>

        .clpre {
            background-color: #f9fafc;
            border: none;
            border-left: 1px solid #d2d6de;
        }

        pre {
            font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            border: none;
            white-space: pre-wrap;
            background-color: #fff;
        }

        option:empty {
            display: none;
        }

        .nNoo {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .cap {
            text-transform: uppercase;
        }
    </style>

    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="form-group box-title bg-purple" style="padding: 10px 20px 10px 10px; margin-top: -130px;  margin-left: -10px; border-bottom-right-radius: 30px">
                <h4 class="label  no-padding"> Fleet and Plate Information</h4>
            </div>
        </div>

        <div class="box-body bg-white">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Vehicle Name : </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                        
                    </div>
                </div>

                <div class="form-group">
                    <label>Vehicle Fleet Number : </label>
                </div>

                <hr />


            </div>

            <!
        </div>
    </div>

</div>
